body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  #cover {
    background: #ff8c00 center center no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  #cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  
  /* only used for background overlay not needed for centering */
  form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgb(253, 253, 251);
    z-index: -1;
    border-radius: 10px;
  }
  .form-group ::placeholder {
      opacity: 0.4 ;
  }
  
  #btn-debc-primary {
    color: #fff;
    background-color: hsl(216, 82%, 58%);
    border-color: #3874c4;
  }